<div class="row">

    <!-- Start Panel -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-title">
          Users
        </div>
        <div class="panel-body table-responsive">

          <table class="table table-hover">
            <thead>
              <tr>
                <td class="text-center"><i class="fa fa-trash"></i></td>
                <td class="text-center"><i class="fa fa-pencil"></i></td>
                <td>Post ID</td>
                <td>Name</td>
                <td>Date</td>
                <td>Username</td>
                <td>Admin</td>
                <td>Email</td>
              </tr>
            </thead>
            <tbody id="contact-requests">
            {{#each users}}
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="{{this._id}}" type="checkbox"><label for="{{this._id}}"></label></div></td>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="" type="checkbox"><label for=""></label></div></td>
                <td># <b>{{this._id}}</b></td>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>{{this.username}}</td>
                <td>{{this.admin}}</td>
                <td>{{this.email}}</td>
              </tr>
            {{/each}}

            </tbody>
          </table>
        </div>

      </div>
    </div>
</div>