<article class="thumbnail" id="post">
  <div class="img-frame">
    <a href="{{post.imgUrl}}" class="lightbox-img-link" data-lightbox="post-img">
      <img class="lightbox-img post-img img-responsive" src="{{post.imgUrl}}" alt="Arduino image" />
    </a>
  </div>
  <h1 class="text-center">{{post.postTitle}}</h2>
  <p class="post-components text-center"><span class="text-primary">Components:</span> {{post.components}}</p>
  <div id="postDescription" class="postDescription">
  {{{post.description}}}
  </div>
  <p class="post-author text-center">Made by: {{post.author.name}}</p>
</article>